<ion-view title="Page" id="page1">
  <ion-content padding="true" class="has-header">
    <form id="page-form1" class="list">
      <div id="page-markdown1" class="show-list-numbers-and-dots">
        <h1 style="color:#000000;">Company</h1>
      </div>
      <ion-radio id="page-radio1" value = "AAPL" ng-model="mdl.company">Apple Computer</ion-radio>
      <ion-radio id="page-radio1" value = "GE" ng-model="mdl.company">General Electric Company</ion-radio>
      <ion-radio id="page-radio1" value = "SBUX" ng-model="mdl.company">Starbucks Corporation</ion-radio>
      <ion-radio id="page-radio1" value = "WBA" ng-model="mdl.company">Walgreens Company</ion-radio>
    </form>

    <a ui-sref="page2({company: mdl.company})" id="page-button1" class="button button-positive button-block">Submit</a>


    <p> The value of your company is {{ mdl.company }}</p>

  </ion-content>
</ion-view>
